/target
/lib
/classes
/checkouts
pom.xml
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/.shadow-cljs
/node_modules
/log
*.nogo
package-lock.json
package.json
shadow-cljs.edn
shadow-cljs.edn.backup
*.mv.*
*.trace.*
*.db.mv.*
*.db.trace.*
vt-config.edn
/sqljdbc_6.0
*.pdf
*.txt
