/target
/lib
/classes
/checkouts
pom.xml
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/.shadow-cljs
/node_modules
/log
*.nogo
package-lock.json
package.json
shadow-cljs.edn
shadow-cljs.edn.backup
versiontracker_dev.mv.*
versiontracker_dev.trace.*
versiontracker_dev.db.mv.*
versiontracker_dev.db.trace.*
vt-config.edn
